@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }

  body {
    background-color: #FEF9E7;
    color: #000000;
    font-family: 'Space Grotesk', sans-serif;
  }
}
